/*--------------------------------------MOBILE VERSION-------------------------------------*/

@media all and (max-width: 767px) {
  main,header {
      margin: 0px auto;
  }

  * {
    margin:0;
    padding: 0;
    font-family: "Arial", sans-serif;
  }

  /* ------------header navigation----------------- */

  #logo {
    padding: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 6px -6px gray;
  }

  #logo img {
    width: 70%;
  }

  .nav-section {
    width: 100%;
    padding-bottom: 30px;
  }

  /* search section */
  
  .search-section {
    justify-content: center;
    display: flex;
    padding-bottom: 30px;
    background-color: #e3e3e3;
    height: 50px;
    position: relative;
    top: -30px;
    opacity: 50%;
  }

  #iconsearch { 
    display: inline;
    margin: -4px;
    padding: 15px 20px;
  }

  form {
    top: 26px;
    position: relative;
  }
  
  input {
    font-size: 20px;
    font-family: "Arial Bold", sans-serif;
    box-sizing: border-box;
    transition: .5s;
  }
  
  input[type="text"] {
    border: none;
  }

  /* text box section */
  
  .text-box {
    width: 100%;
    padding-bottom: 50px;
    background-color: #f8f8f8;
    position: relative;
    top: -30px;
  }
  
  .text-box h1 {
    font-size: 30px;
    text-align: center;
    line-height: 4em;
  }
  
  .text-box p {
    font-size: 21px;
    color: #656161;
    line-height: 1.3em;
    text-align: center;
    padding-bottom: 50px;
  }

  .purplebutton {
    margin: 0%;
    text-align: center;
    position: relative;
    bottom: 32px;
  }

  .btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }

  .btn-hover:focus {
    outline: none;
  }

  .btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }
    
  
  
  /* fliter section */
  
    p {
      font-family: "Raleway", sans-serif;
    }
  
  
  .filters {
    align-items: flex-start !important;
    margin: 5px 25px;
    display: flex;
    flex-direction: column;
    gap: 1vw;
      
  }
  
  .filtericons  {
    color: #0065FC;
    background: #d6e6ff;
    padding: 17px;
    border-radius: 25px;
    width: 8%;
    margin: 0px 0px;
  }
  
  
  .filters .iconwords {
    position: relative;
    bottom: 32px;
    left: 24px;
  } 
  
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 36px;
  }
    
  
  .filterbuttonsphone {
    width: 98%;
    height: 80px;
    background: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 8px 6px -6px gray;
  }
  
  .filterbuttonslist {
    width: 98%;
    height: 80px;
    background: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 8px 6px -6px gray;
  }
  
  .filterbuttonsstore {
    width: 98%;
    height: 80px;
    background: #f8f8f8;
    border-radius: 25px;
    box-shadow: 0 8px 6px -6px gray;
  }
  
  
  .filters h1 {
    font-size: 25px;
    padding-bottom: 50px;
  }
  
  .filters p{
    font-size: 18px;
    text-align: center;
  }
  
  .filtercopyphone {
    top: -36px;
    position: relative;
    left: 19px;
    margin-top: 46px;
  }

  .filtercopylist {
    top: -36px;
    position: relative;
    left: 20px;
    margin-top: 46px;
  }

  .filtercopystore {
    top: -36px;
    position: relative;
    left: 18px;
    margin-top: 46px;
  }
    

  
    /* info section */ 
    .info {
      width: 84%;
      margin-top: 25px;
      margin-left: 25px;
      margin-right: 0px;
  
    }
  
    .infoicon {
      border: 0.5px solid #625b5b;
      border-radius: 15px;
      color: #0065FC;
      width: 5%;
      padding: 3px;
      text-align: center;
      position: relative;
      top: 0px;
    }
  
    .infocopy {
      position: relative;
      top: -23px;
      left: 34px;
    }

     /* restaurant section */
  
    .restaurant {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 103%;
      background: #F2F2F2;
      border-radius: 0px;
      margin-top: 32px;
      float: none;
      margin-left: 0px;
    }

    .restaurant-container {
      margin: 45px 21px;
      display: flex;
      flex-wrap: wrap;
      // height: 635px;
      flex-direction: column;
      row-gap: 39px;
      width: 88%;
    }
  
    .flex-container-most .star {
      display: flex;
      justify-content: right;
      margin-top: -37px;
    }
  
    .flex-item-most-card {
      width: 100%;
      height: 340px;
      float: left;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 30px;
      background: white;
    }
  
    .flex-item-most-info {
      color: #000000;
      margin: 15px;
      line-height: 0em;
    }
  
  
    .flex-item-most-info p {
      line-height: 4rem;
      font-size: 14px;
    }
  
    .flex-item-most-card img {
        width: 100%;
        max-width: 400px;
        height: 251px;
        object-fit: cover;
        border-radius: 30px 30px 0px 0px;
    }
    
   /* footer section */

   .footer {
    width: 103%;
   }
  
    .footer-container {
      flex-direction: column;
      background: #454141;
      display: flex;
      position: relative;
      top: 50px;
    }

    .footer-container img {
      width: 40%;
      margin-top: 30px;
      margin-left: 25px;
    }
    
    .footer-col {
      margin-left: 25px;
      
    }

    .fa-utensils {
      margin-right: 10px;
    }

    .fa-handshake {
      margin-right: 10px;
    }
  

    .footer ul {

    }
  
  .footer ul li {
    list-style: none;
    text-align: left;
    line-height: 1.8rem;
    margin-left: 25px;
    color: #ffffff
   
  }
  
  .footer-col h1 {
    text-align: left;
    margin: 25px;
    padding-top: 20px;
  }

}